<navbar class="navbar-container">
       <div class="logo-container">
            <a>Questions/Réponses</a>
        </div>


        <ul class="nav-items">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/conversations">conversations</a></li>
            <li class="nav-link"><a href="/questions">Q_R</a></li>
            <li class="nav-link"><a href="/logout">LogOut</a></li>
        </ul>
</navbar>


<div class="hizmet-kart-icerik">
  <div class="buton-kapsa">
    
    {{#each questions}}
      <li class="hizmet-buton">
        {{!-- <div onclick="openPopup('{{this._id}}')">
          {{#each this.intents}}
            <h2>Tag: {{this.tag}}</h2>
          {{/each}}
        </div> --}}
        <a href="/tags/{{this._id}}">
        {{#each this.intents}}
            <h2>Tag: {{this.tag}}</h2>
          {{/each}}
          </a>
        <button class="delete-btn" onclick="confirmDelete('{{this._id}}')">
        <span>Delete</span>
        </button>
      </li>
    {{/each}}
  </div>
</div>

<button class="add-btn"> <a href="NewQuestion"><span>Add New Tag</span></a></button>
<button class="run-btn" onclick="runApp()"><a>Run App</a></button>

<script>
    function openPopup(intentId) { 
      const url = `/tags/${intentId}`;
      const width = 700;
      const height = 500;
      const left = (screen.width - width) / 2;
      const top = (screen.height - height) / 2;

      window.open(
        url,
        'myWindow',
        `width=${width},height=${height},left=${left},top=${top}`
      );
    }

    function confirmDelete(intentId) {
    if (confirm('Are you sure you want to delete this tag?')) {
      window.location.href = '/questions/' + intentId + '/delete';
    }
  }
function runApp() {
  fetch('http://127.0.0.1:5000/runapp', { method: 'POST' })
    .then(response => {
      if (response.ok) {
        alert('App.py code executed successfully!');
      } else {
        alert('Failed to execute app.py code!');
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('An error occurred while executing the app.py code!');
    });
}



</script>


  <style>
	.note {
		background-color: #f2f2f2;
		padding: 20px;
		margin-bottom: 20px;
	}

	.note .user {
		font-weight: bold;
		margin-right: 10px;
	}

	.note .bot {
		color: #666;
	}

.add-btn {
        background-color: black;
        border: none;
        color: rgb(12, 41, 67);
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
    }


.run-btn {
        background-color: rgb(1, 58, 75);
        border: none;
        color: rgb(12, 41, 67);
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
    }


.delete-btn {
        background-color: #8a3832;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
    }

</style>





